# Виртуальное окружение
venv/
venv_new/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Локальные настройки
.env

# Логи и временные файлы
*.log
*.tmp

# Директории IDE
.idea/
.vscode/

# Файлы данных (можно добавить, если не нужно их включать в репозиторий)
# data/

# Другие файлы
.DS_Store 